/* Style Document for the Dashboard */

body{
    background-color:rgba(244, 244, 244, 0.896);
    /*background-image: url("volley.jpg"), url("4k_diving.png"), url("run.jpg"), url("flag2.png");
    background-position: top;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;*/
}

label {
    margin: 0 0.5rem 0 0.5rem; 
}

/* Headers */

/* Main Box */
h1{
    color: rgba(50, 81, 219, 0.652);
    border: 3px line rgb(188, 188, 188);
    background-color: whitesmoke;
    background: linear-gradient(to left,
    red,
    whitesmoke,
    whitesmoke,
    blue);
    padding: 2%;
    font-family: "Times New Roman", Times, serif;
    font-size: 500%;
    text-shadow: 2px 2px rgb(222, 228, 230), 2px 2px rgb(93, 93, 94);
    text-align: center;
}


.card-body{
    background: linear-gradient(to left,
    red,
    whitesmoke,
    whitesmoke,
    blue);
    opacity: 0.9;
}

/* Headers */ 

h2{
    color: rgb(31, 31, 176);
    border: 1px dotted rgb(126, 174, 180);
    background-color: whitesmoke;
    padding: 2%;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    text-shadow: 1px 1px rgb(183, 180, 200), 1px 1px rgb(11, 11, 12);
    text-align: center;
}

h3{
    color: Yellow;
}

/* Divs */



/*.row {
    background-color: yellowgreen;
}*/

.bglayer{
    color:red;
    background-color: red;
}

.dash-graph{
    border-color: rgb(125, 191, 230);
    border-style: solid;
    border-width: thin;
}

.goat-gold{
    background-color: red;
    color:blue;
}

